@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Alice&family=Montserrat:wght@400;700&display=swap');


.input{
  background: #f0f0f0;
  margin-bottom: 20px;
}

.title{
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
  margin: 10px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to right, #4E56C0,#9B5DE0, #D78FEE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn{
  margin-top: 10px;
  padding: 12px;
  background: #107fc4;
  width: 100%;
  color: white;
  border-radius: 8px;
  font-weight: bold;
}

.text{
  font-size: 20px;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-family: "Montserrat", serif;
}


.con{
  background: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  padding-bottom: 5px;
}

.available{
  font-family: "Montserrat", serif;
  font-size: 18px;
  font-weight: bold;
}

.reg{
  font-size: 16px;
  padding: 5px;
  padding-left: 0;
  margin-left: 0;
  font-family: "Montserrat", serif;
  color: gray;
  margin-bottom: 50px;
}


.logo{
  width:180px;
  height: 30px;
  margin-left: 10px;
}

.paragraph{
  margin: 5px;
  margin-top: 30px;
  font-size: 16px;
  font-family: "Montserrat", serif;
  background: #f8f8f8;
  padding: 20px;
  border: 1px solid lightgray ;
  border-radius: 10px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 20px;
  text-align: center;
  background-color: gray;
  width: 100%;   
  margin-top: 30px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content p {
  margin: 0;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline;
  margin-right: 10px;
  font-family: "Roboto", serif;
  font-weight: bold;
}

.footer-links li:last-child {
  margin-right: 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}


 @media screen and (max-width: 780px){
   
   .footer-content{
     display: block;
   }
   .footer-links{
     margin-bottom: 15px;
   }
   
   .credit{
     margin-bottom: 20px;
     text-align: center;
     font-size:13px ;
     font-family: "Roboto", serif;
     font-weight: bold;
     padding-bottom: 20px;
   }
   
   .footer-links li a{
     font-size: 15px;
   }
   .footer{
     margin-top: 15px;
   }
   
 }